.title {
    margin: auto;
    animation: bounce 2s infinite;
    padding-top: 25px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(5px) perspective(200px) rotateX(10deg);
    }
    50% {
        transform: translateY(0px) perspective(200px) rotateX(10deg);
    }
}